<html>
    <head>
        <title>{{ translate.sample1 }}</title>
        <script>
            /* some multiline comment
             * which should be removed
             */
            
            function testjs(param) {
                //single line comment
                alert(param);
            }
            
            testjs('this is a test');
        </script>
    </head>
    <body>
        some text {{ translate.sample1 }} with some {{ translate.sample2 }} and 
        {{ translate.content.test1 }} and additional {{ translate.not.set }}
        
        {{inc include.html }}
        {{inc non_existing.html }}
    </body>
</html>